<div class="py-2">
  <h5 class="mb-0 pb-0"><%= f.label :name, "Project Name" %></h5>
  <%= f.text_field :name, placeholder: "Project Name", class: "form-control" %>
</div>
<div class="py-2">
  <h5 class="mb-0 pb-0"><%= f.label :number, "Project Number" %></h5>
  <%= f.text_field :number, placeholder: "Project Number", class: "form-control" %>
</div>
<div class="py-2">
  <h5 class="mb-0 pb-0"><%= f.label :jobsite, "Project Jobsite" %></h5>
  <%= f.text_field :jobsite, placeholder: "Project Jobsite", class: "form-control" %>
</div>